Repository Priesemann-Group/icomo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pydocstyle

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system
  pass_filenames: true

Change line length
  README.md
  pyproject.toml
Due: none

Add files and documentation
  Makefile
  comodi/__init__.py
  comodi/comodi.py
  comodi/comp_model.py
  comodi/examples.py
  comodi/pytensor_op.py
  comodi/slow_modulation.py
  comodi/tools.py
  docs/api/references.rst
  docs/conf.py
  docs/example.ipynb
  docs/images/favicon.ico
  docs/images/logo.png
  docs/index.rst
  notebooks/covid_immunity_model.ipynb
  notebooks/example1.csv
  notebooks/example1_SIR.csv
  notebooks/optimize_restrictions.ipynb
  notebooks/seropositivity_model.ipynb
  pyproject.toml
Due: black, isort, mypy, pydocstyle

Add getting_started notebook, improve documentation
  .pre-commit-config.yaml
  Makefile
  README.md
  comodi/__init__.py
  comodi/comp_model.py
  comodi/examples.py
  comodi/pytensor_op.py
  comodi/slow_modulation.py
  comodi/tools.py
  docs/api/references.rst
  docs/conf.py
  docs/contributing.md
  docs/example.ipynb
  docs/index.rst
  docs/installation.md
  notebooks/covid_immunity_model.ipynb
  notebooks/optimize_restrictions.ipynb
  notebooks/seropositivity_model.ipynb
  pyproject.toml
Due: black, isort, mypy, pydocstyle

Add readthedocs file
  .readthedocs.yaml
Due: none

Upda
  docs/conf.py
Due: black, isort

Update readthedocs
  .readthedocs.yaml
  pyproject.toml
Due: none

Update installation.md
  docs/installation.md
Due: none

Add action for publishing to pypi
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  comodi/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pydocstyle

Change name of project
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/api/references.rst
  docs/conf.py
  docs/contributing.md
  docs/example.ipynb
  docs/index.rst
  docs/installation.md
  docs/make.bat
  icomo/__init__.py
  icomo/comp_model.py
  icomo/examples.py
  icomo/pytensor_op.py
  icomo/slow_modulation.py
  icomo/tools.py
  notebooks/covid_immunity_model.ipynb
  notebooks/optimize_restrictions.ipynb
  notebooks/seropositivity_model.ipynb
  pyproject.toml
  tests/__init__.py
  tests/test_comodi.py
Due: black, isort, mypy, pydocstyle

Remove some docs issues
  docs/conf.py
  docs/index.rst
Due: black, isort

Remove some docs issues
  docs/conf.py
  icomo/__init__.py
Due: black, isort

Correct some details in the example pymc model
  docs/changelog.md
  docs/conf.py
  docs/example.ipynb
  docs/index.rst
  icomo/__init__.py
  icomo/comp_model.py
  notebooks/seropositivity_model.ipynb
  pyproject.toml
Due: black, isort

Correct version of example.ipynb now pushed
  docs/example.ipynb
Due: none

Add remark to also install jupyterlab
  docs/installation.md
Due: none

CompModel.Integrator support tuple of callable in arg_t
  icomo/comp_model.py
Due: black, isort

Remove double import importlib_metadata
  icomo/__init__.py
Due: black, isort

Fix error in delayed_copy. The derication of the copy was missing a substraction such that it didn't decrease.
  icomo/comp_model.py
Due: black, isort

interpolation of arg_t data on individual timeframe ts_arg
  icomo/comp_model.py
Due: black, isort

documentation on arg_t functionality
  icomo/comp_model.py
Due: black, isort

default ts_arg to ts_solver if None is set
  icomo/comp_model.py
Due: black, isort

Add possibility to change distribution of the magnitudes of the slow modulation
  icomo/slow_modulation.py
  icomo/tools.py
Due: black, isort

Some changes (add name to interpolation and interpolate with vmap) that might alleviate some errors
  icomo/comp_model.py
  icomo/pytensor_op.py
Due: black, isort

Add information to only use jax inside a ODE in the exapmle
  docs/example.ipynb
Due: none

Correct formatting error
  docs/example.ipynb
Due: none

Add test and further parametrization possibilities for the changepoints, test with jit disabled isn't passing
  icomo/__init__.py
  icomo/slow_modulation.py
  icomo/tools.py
  pyproject.toml
  requirements.txt
  tests/test_comodi.py
  tests/test_example_notebook.py
Due: black, isort, mypy, pydocstyle

Add centered parametrization to priors_for_cps
  icomo/slow_modulation.py
Due: black, isort

Modified the function that transforms a jax function into pytensor in order to make it more general. It also accepts pytrees as inputs and outputs. Also moved to ruff for linting and formatting
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  docs/contributing.md
  docs/example.ipynb
  docs/index.md
  docs/index.rst
  docs/readme.md
  icomo/__init__.py
  icomo/comp_model.py
  icomo/examples.py
  icomo/jax2pytensor.py
  icomo/pytensor_op.py
  icomo/slow_modulation.py
  icomo/tools.py
  notebooks/covid_immunity_model.ipynb
  notebooks/example1.csv
  notebooks/example1_SIR.csv
  notebooks/optimize_restrictions.ipynb
  notebooks/seropositivity_model.ipynb
  pyproject.toml
  requirements.txt
  tests/test_example_notebook.py
  tests/test_jax_compilation.py
Due: black, isort

Added Github action for ruff
  .github/workflows/ruff.yaml
  docs/contributing.md
  icomo/comp_model.py
Due: black, isort

Remove twice specified licence in pyproject.toml
  .github/workflows/ruff.yaml
  pyproject.toml
Due: none

Remove tarball download instructions, add yaml indention rules to .editorconfig and
  .editorconfig
  .readthedocs.yaml
  .releaserc.json
  docs/installation.md
Due: none

Reduce requirements for closeness in opimization in the tests
  tests/test_example_notebook.py
Due: black, isort

Adapt documentation to inform that the specification of return_shapes isn't necerry anymore and adapt the getting started example.ipynb
  docs/example.ipynb
  icomo/comp_model.py
  icomo/jax2pytensor.py
  tests/test_example_notebook.py
Due: black, isort

Clean up jax2pytensor.py, add some documentation to internal functions.
  icomo/jax2pytensor.py
Due: black, isort

Use infer_shape capability of pytensor to get the shape of the output automatically
  icomo/jax2pytensor.py
  tests/test_jax_compilation.py
Due: black, isort

Use eqx.partition and eqx.combine to split variable and static argumentes
  icomo/jax2pytensor.py
  pyproject.toml
Due: black, isort

Add GitHub action for pytest
  .github/workflows/pytest.yaml
  .github/workflows/release.yaml
  .github/workflows/ruff.yaml
Due: none

Add GitHub action for pytest
  .github/workflows/pytest.yaml
  Makefile
  pyproject.toml
  requirements.txt
  tests/test_diffrax.py
  tests/test_jax_compilation.py
Due: black, isort

Restrict python versions to 3.10, 3.11 and 3.12
  .github/workflows/pytest.yaml
  .gitignore
  .python-version
  pyproject.toml
Due: none

Specify python versions as strings
  .github/workflows/pytest.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: comodi and \.py$
  pydocstyle: any of: comodi and \.py$
